In [1]:
from io import StringIO,BytesIO

In [2]:
data=('col1,col2,col3\n'
     'x,y,1\n'
     'a,b,2\n'
     'c,d,3')

In [3]:
type(data)

str

In [5]:
import pandas as pd

In [6]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [13]:
df=pd.read_csv(StringIO(data),usecols=['col1','col3'])

In [14]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [15]:
df.to_csv('Test.csv')

In [16]:
df.to_csv('Test.csv')